In [126]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [127]:
df = pd.read_csv('Offenses_Known_to_Law_Enforcement_by_State_by_City_2013.csv', header=None)
df = df[3:]
df = df.rename(columns=df.iloc[0])
df = df[1:]
df['State']
df.head()

,State,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,nan,nan,nan
4,ALABAMA,Abbeville,2.645,11,1,1,NaN,2,7,63,21,39,3,NaN,NaN,NaN,NaN
5,NaN,Adamsville,4.481,19,1,0,NaN,7,11,321,58,252,11,NaN,NaN,NaN,
6,NaN,Addison,744,1,0,1,NaN,0,0,25,6,17,2,NaN,NaN,NaN,
7,NaN,Alabaster,31.170,44,0,2,NaN,11,31,640,70,544,26,NaN,NaN,NaN,NaN
8,NaN,Alexander City,14.692,119,2,16,NaN,12,89,661,121,510,30,NaN,NaN,NaN,NaN

In [128]:
true_states = []
# Clean the NaN results in the column 'State' 
def fixNanStates(states):
    # For each state
    for state in states:
        # If variable is equal to variable, is used to define NaN, in this case, if it is True, It won't be NaN
        if state == state:
            real_state = state
            true_states.append(str(state))
        # If variable is  not equal to variable, is used to define NaN, in this case, if it is True, It will be NaN
        elif state != state:
            state = real_state
            true_states.append(str(state))
            
# Turn data objects into categories, this way the ammount of space used is much less
def objToCat(dataframe, columns):
    for col in columns:
        dataframe[col] = dataframe[col].astype('category')

        
def spread(series):
    return series.max() - series.min()

In [129]:
states = df['State']
fixNanStates(states)            
df['State'] = true_states

In [130]:
df.columns = df.columns.str.replace('\n',' ')
df = df.loc[:, 'State': 'Motor vehicle theft']

In [131]:
df.head(2)

,State,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft
4,ALABAMA,Abbeville,2.645,11,1,1,NaN,2,7,63,21,39,3
5,ALABAMA,Adamsville,4.481,19,1,0,NaN,7,11,321,58,252,11

In [132]:
df.describe()

,State,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft
count,9302,9292,9289,9288,9292,5431,3859,9292,9289,9288,9290,9290,9292
unique,60,7142,7420,629,76,127,107,348,496,1818,819,1557,497
top,PENNSYLVANIA,Clinton,1.159,0,0,0,0,0,0,0,0,0,0
freq,853,15,5,1057,7536,2270,1733,3832,1430,192,494,273,1798

In [133]:
usacrime_df = df.loc[: , 'State': 'Motor vehicle theft']
objToCat(usacrime_df, ['State', 'City'])
print(usacrime_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9302 entries, 4 to 9305
Data columns (total 13 columns):
State                                   9302 non-null category
City                                    9292 non-null category
Population                              9289 non-null object
Violent crime                           9288 non-null object
Murder and nonnegligent manslaughter    9292 non-null object
Rape (revised definition)1              5431 non-null object
Rape (legacy definition)2               3859 non-null object
Robbery                                 9292 non-null object
Aggravated assault                      9289 non-null object
Property crime                          9288 non-null object
Burglary                                9290 non-null object
Larceny- theft                          9290 non-null object
Motor vehicle theft                     9292 non-null object
dtypes: category(2), object(11)
memory usage: 1.2+ MB
None

In [134]:
usacrime_df = usacrime_df.set_index(['State', 'City'])
usacrime_df.head()

                       Population Violent crime  \
State   City
ALABAMA Abbeville           2.645            11
        Adamsville          4.481            19
        Addison               744             1
        Alabaster          31.170            44
        Alexander City     14.692           119

                       Murder and nonnegligent manslaughter  \
State   City
ALABAMA Abbeville                                         1
        Adamsville                                        1
        Addison                                           0
        Alabaster                                         0
        Alexander City                                    2

                       Rape (revised definition)1 Rape (legacy definition)2  \
State   City
ALABAMA Abbeville                               1                       NaN
        Adamsville                              0                       NaN
        Addison                                 1                       NaN
        Alabaster                               2                       NaN
        Alexander City                         16                       NaN

                       Robbery Aggravated assault Property crime Burglary  \
State   City
ALABAMA Abbeville            2                  7             63       21
        Adamsville           7                 11            321       58
        Addison              0                  0             25        6
        Alabaster           11                 31            640       70
        Alexander City      12                 89            661      121

                       Larceny- theft Motor vehicle theft
State   City
ALABAMA Abbeville                  39                   3
        Adamsville                252                  11
        Addison                    17                   2
        Alabaster                 544                  26
        Alexander City            510                  30

In [135]:
# Finding the columns the have NaN values
usacrime_df.loc[:, usacrime_df.isnull().any()]

                                                                  Population  \
State                                              City
ALABAMA                                            Abbeville           2.645
                                                   Adamsville          4.481
                                                   Addison               744
                                                   Alabaster          31.170
                                                   Alexander City     14.692
                                                   Aliceville          2.419
                                                   Andalusia           9.079
                                                   Anniston           22.648
                                                   Arab                8.295
                                                   Ardmore             1.304
                                                   Arley                 353
                                                   Ashford             2.177
                                                   Ashland             1.926
                                                   Ashville            2.239
                                                   Athens             23.972
                                                   Atmore             10.099
                                                   Auburn             57.970
                                                   Bay Minette         8.398
                                                   Bear Creek          1.059
                                                   Bessemer           27.240
                                                   Birmingham        212.001
                                                   Blountsville        1.697
                                                   Brent               4.894
                                                   Brewton             5.331
                                                   Bridgeport          2.389
                                                   Brilliant             892
                                                   Butler              1.850
                                                   Camp Hill             995
                                                   Carbon Hill         1.988
                                                   Cedar Bluff         1.814
...                                                                      ...
WYOMING                                            Jackson             9.918
                                                   Kemmerer            2.631
                                                   Lander              7.733
                                                   Laramie            31.940
                                                   Lusk                1.548
                                                   Mills               3.486
                                                   Moorcroft           1.026
                                                   Newcastle           3.465
                                                   Pine Bluffs         1.152
                                                   Powell              6.304
                                                   Rawlins             9.081
                                                   Riverton           11.057
                                                   Rock Springs       24.405
                                                   Saratoga            1.656
                                                   Sheridan           17.776
                                                   Sundance            1.221
                                                   Thermopolis         3.023
                                                   Torrington          6.797
                                                   Wheatland           3.644
                                                   Worland             5.441
1 The figures shown in this column for the offe... NaN                   NaN
2 The figures shown in this column for the offe... NaN                   NaN
3 The FBI does not publish arson data unless it... NaN                   NaN
4 The population for the city of Mobile, Alabam... NaN                   NaN
5 The FBI determined that the agency's data wer... NaN                   NaN
6 Because of changes in the state/local agency'... NaN                   NaN
7 The FBI determined that the agency's data wer... NaN                   NaN
8 The data collection methodology for the offen... NaN                   NaN
9 This agency began the year submitting rape da... NaN                   NaN
10 The FBI determined that the agency did not f... NaN                   NaN

                                                                  Violent crime  \
State                                              City
ALABAMA                                            Abbeville                 11
                                                   Adamsville                19
                                                   Addison                    1
                                                   Alabaster                 44
                                                   Alexander City           119
                                                   Aliceville                 7
                                                   Andalusia                 34
                                                   Anniston                 461
                                                   Arab                      32
                                                   Ardmore                    2
                                                   Arley                      3
                                                   Ashford                    2
                                                   Ashland                    9
                                                   Ashville                  10
                                                   Athens                    16
                                                   Atmore                    52
                                                   Auburn                   115
                                                   Bay Minette               47
                                                   Bear Creek                 4
                                                   Bessemer                 527
                                                   Birmingham             2.852
                                                   Blountsville               6
                                                   Brent                     16
                                                   Brewton                   47
                                                   Bridgeport                13
                                                   Brilliant                  4
                                                   Butler                     6
                                                   Camp Hill                 22
                                                   Carbon Hill               14
                                                   Cedar Bluff               20
...                                                                         ...
WYOMING                                            Jackson                   62
                                                   Kemmerer                   3
                                                   Lander                     5
                                                   Laramie                   37
                                                   Lusk                       3
                                                   Mills                     28
                                                   Moorcroft                  1
                                                   Newcastle                  8
                                                   Pine Bluffs                4
                                                   Powell                    22
                                                   Rawlins                   30
                                                   Riverton                  45
                                                   Rock Springs              71
                                                   Saratoga                   4
                                                   Sheridan                  23
                                                   Sundance                   0
                                                   Thermopolis                2
                                                   Torrington                18
                                                   Wheatland                 11
                                                   Worland                    7
1 The figures shown in this column for the offe... NaN                      NaN
2 The figures shown in this column for the offe... NaN                      NaN
3 The FBI does not publish arson data unless it... NaN                      NaN
4 The population for the city of Mobile, Alabam... NaN                      NaN
5 The FBI determined that the agency's data wer... NaN                      NaN
6 Because of changes in the state/local agency'... NaN                      NaN
7 The FBI determined that the agency's data wer... NaN                      NaN
8 The data collection methodology for the offen... NaN                      NaN
9 This agency began the year submitting rape da... NaN                      NaN
10 The FBI determined that the agency did not f... NaN                      NaN

                                                                  Murder and nonnegligent manslaughter  \
State                                              City
ALABAMA                                            Abbeville                                         1
                                                   Adamsville                                        1
                                                   Addison                                           0
                                                   Alabaster                                         0
                                                   Alexander City                                    2
                                                   Aliceville                                        0
                                                   Andalusia                                         1
                                                   Anniston                                          5
                                                   Arab                                              0
                                                   Ardmore                                           0
                                                   Arley                                             0
                                                   Ashford                                           0
                                                   Ashland                                           0
                                                   Ashville                                          0
                                                   Athens                                            0
                                                   Atmore                                            2
                                                   Auburn                                            2
                                                   Bay Minette                                       0
                                                   Bear Creek                                        0
                                                   Bessemer                                          3
                                                   Birmingham                                       63
                                                   Blountsville                                      0
                                                   Brent                                             0
                                                   Brewton                                           0
                                                   Bridgeport                                        0
                                                   Brilliant                                         0
                                                   Butler                                            0
                                                   Camp Hill                                         1
                                                   Carbon Hill                                       0
                                                   Cedar Bluff                                       0
...                                                                                                ...
WYOMING                                            Jackson                                           0
                                                   Kemmerer                                          0
                                                   Lander                                            0
                                                   Laramie                                           1
                                                   Lusk                                              0
                                                   Mills                                             0
                                                   Moorcroft                                         0
                                                   Newcastle                                         0
                                                   Pine Bluffs                                       0
                                                   Powell                                            0
                                                   Rawlins                                           0
                                                   Riverton                                          0
                                                   Rock Springs                                      0
                                                   Saratoga                                          0
                                                   Sheridan                                          0
                                                   Sundance                                          0
                                                   Thermopolis                                       0
                                                   Torrington                                        0
                                                   Wheatland                                         0
                                                   Worland                                           0
1 The figures shown in this column for the offe... NaN                                             NaN
2 The figures shown in this column for the offe... NaN                                             NaN
3 The FBI does not publish arson data unless it... NaN                                             NaN
4 The population for the city of Mobile, Alabam... NaN                                             NaN
5 The FBI determined that the agency's data wer... NaN                                             NaN
6 Because of changes in the state/local agency'... NaN                                             NaN
7 The FBI determined that the agency's data wer... NaN                                             NaN
8 The data collection methodology for the offen... NaN                                             NaN
9 This agency began the year submitting rape da... NaN                                             NaN
10 The FBI determined that the agency did not f... NaN                                             NaN

                                                                  Rape (revised definition)1  \
State                                              City
ALABAMA                                            Abbeville                               1
                                                   Adamsville                              0
                                                   Addison                                 1
                                                   Alabaster                               2
                                                   Alexander City                         16
                                                   Aliceville                              0
                                                   Andalusia                               4
                                                   Anniston                               39
                                                   Arab                                    5
                                                   Ardmore                                 0
                                                   Arley                                   0
                                                   Ashford                                 0
                                                   Ashland                                 0
                                                   Ashville                                1
                                                   Athens                                  1
                                                   Atmore                                  4
                                                   Auburn                                  6
                                                   Bay Minette                             3
                                                   Bear Creek                              0
                                                   Bessemer                               15
                                                   Birmingham                            178
                                                   Blountsville                            3
                                                   Brent                                   1
                                                   Brewton                                 7
                                                   Bridgeport                              1
                                                   Brilliant                               0
                                                   Butler                                  0
                                                   Camp Hill                               2
                                                   Carbon Hill                             1
                                                   Cedar Bluff                             1
...                                                                                      ...
WYOMING                                            Jackson                               NaN
                                                   Kemmerer                              NaN
                                                   Lander                                NaN
                                                   Laramie                               NaN
                                                   Lusk                                  NaN
                                                   Mills                                 NaN
                                                   Moorcroft                             NaN

In [136]:
# All of them have some NaN values so time to clean it

# First of, if a 'Rape (revised definition)1' happens then a 'Rape (legacy definition)2' doesn't happen and vice-versa therefore,
# we are getting NaN values when it doesn't happen, so let's just change it to 0 instead of NaN
usacrime_df[['Rape (revised definition)1', 'Rape (legacy definition)2']] = (usacrime_df[['Rape (revised definition)1', 
                                                                                       'Rape (legacy definition)2']].fillna(0))

# Now we delete every row with 4 or more NaN values
usacrime_df = usacrime_df.dropna(thresh=4, axis='rows')

In [137]:
# Way cleaner now as we can see below, still some NaN values still linger
usacrime_df[usacrime_df.isnull().any(axis=1)]

                                Population Violent crime  \
State    City
ALABAMA  Tallassee5                  4.830           NaN
FLORIDA  Dunnellon7                  1.750             9
ILLINOIS Chicago7, 8             2.720.554           NaN
INDIANA  Sellersburg5                6.150           NaN
         Shelbyville5               19.159           NaN
MARYLAND Baltimore City Sheriff        NaN             0
OHIO     Toledo10                  283.035         2.902
OREGON   Black Butte                   NaN             0
         Sunriver                      NaN             2
UTAH     Bountiful5                 42.976            61
         Hurricane5                 14.558            14

                                Murder and nonnegligent manslaughter  \
State    City
ALABAMA  Tallassee5                                                0
FLORIDA  Dunnellon7                                                0
ILLINOIS Chicago7, 8                                             414
INDIANA  Sellersburg5                                              0
         Shelbyville5                                              0
MARYLAND Baltimore City Sheriff                                    0
OHIO     Toledo10                                                 28
OREGON   Black Butte                                               0
         Sunriver                                                  0
UTAH     Bountiful5                                                0
         Hurricane5                                                0

                                Rape (revised definition)1  \
State    City
ALABAMA  Tallassee5                                      0
FLORIDA  Dunnellon7                                      0
ILLINOIS Chicago7, 8                                     0
INDIANA  Sellersburg5                                    0
         Shelbyville5                                    0
MARYLAND Baltimore City Sheriff                          0
OHIO     Toledo10                                      129
OREGON   Black Butte                                     0
         Sunriver                                        0
UTAH     Bountiful5                                     23
         Hurricane5                                      3

                                Rape (legacy definition)2 Robbery  \
State    City
ALABAMA  Tallassee5                                     0       1
FLORIDA  Dunnellon7                                     0       0
ILLINOIS Chicago7, 8                                    0  11.815
INDIANA  Sellersburg5                                   0       3
         Shelbyville5                                   4       3
MARYLAND Baltimore City Sheriff                         0       0
OHIO     Toledo10                                       0     962
OREGON   Black Butte                                    0       0
         Sunriver                                       0       0
UTAH     Bountiful5                                     0      14
         Hurricane5                                     0       2

                                Aggravated assault Property crime Burglary  \
State    City
ALABAMA  Tallassee5                             66            296       86
FLORIDA  Dunnellon7                              9            NaN       13
ILLINOIS Chicago7, 8                           NaN         95.908   17.775
INDIANA  Sellersburg5                          NaN            109       17
         Shelbyville5                          NaN            448       55
MARYLAND Baltimore City Sheriff                  0              0        0
OHIO     Toledo10                            1.783            NaN    5.357
OREGON   Black Butte                             0              5        0
         Sunriver                                2             80       16
UTAH     Bountiful5                             24            NaN      NaN
         Hurricane5                              9            NaN      NaN

                                Larceny- theft Motor vehicle theft
State    City
ALABAMA  Tallassee5                        203                   7
FLORIDA  Dunnellon7                        NaN                   1
ILLINOIS Chicago7, 8                    65.497              12.636
INDIANA  Sellersburg5                       77                  15
         Shelbyville5                      365                  28
MARYLAND Baltimore City Sheriff              0                   0
OHIO     Toledo10                          NaN               1.064
OREGON   Black Butte                         5                   0
         Sunriver                           60                   4
UTAH     Bountiful5                        706                  94
         Hurricane5                        163                   8

In [138]:
# As we see, columns with NaN Population values are not helpfull in the slightest since most of all the columns seem to be 0,
# when this case happens, let's remove the Population rows where Population is NaN and feel the rest with of the NaN values with
# 0 values, so that they don't affect much our dataset
usacrime_df = usacrime_df[pd.notnull(usacrime_df['Population'])]
usacrime_df = usacrime_df.fillna(0)

In [139]:
# And voilla!! A much cleaner dataset, although alot of work is still ahead of us! So buckle up!!
usacrime_df[usacrime_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [Population, Violent crime, Murder and nonnegligent manslaughter, Rape (revised definition)1, Rape (legacy definition)2, Robbery, Aggravated assault, Property crime, Burglary, Larceny- theft, Motor vehicle theft]
Index: []

In [140]:
# Gonna set the Population as an Index as well, which will turn this dataframe into a multi-indexed daframe
usacrime_df = usacrime_df.set_index(['Population'], append=True)
usacrime_df.columns.name = 'Crimes'
usacrime_df = usacrime_df.sort_index()
usacrime_df.head(5)

Crimes                            Violent crime  \
State   City           Population
ALABAMA Abbeville      2.645                 11
        Adamsville     4.481                 19
        Addison        744                    1
        Alabaster      31.170                44
        Alexander City 14.692               119

Crimes                            Murder and nonnegligent manslaughter  \
State   City           Population
ALABAMA Abbeville      2.645                                         1
        Adamsville     4.481                                         1
        Addison        744                                           0
        Alabaster      31.170                                        0
        Alexander City 14.692                                        2

Crimes                            Rape (revised definition)1  \
State   City           Population
ALABAMA Abbeville      2.645                               1
        Adamsville     4.481                               0
        Addison        744                                 1
        Alabaster      31.170                              2
        Alexander City 14.692                             16

Crimes                            Rape (legacy definition)2 Robbery  \
State   City           Population
ALABAMA Abbeville      2.645                              0       2
        Adamsville     4.481                              0       7
        Addison        744                                0       0
        Alabaster      31.170                             0      11
        Alexander City 14.692                             0      12

Crimes                            Aggravated assault Property crime Burglary  \
State   City           Population
ALABAMA Abbeville      2.645                       7             63       21
        Adamsville     4.481                      11            321       58
        Addison        744                         0             25        6
        Alabaster      31.170                     31            640       70
        Alexander City 14.692                     89            661      121

Crimes                            Larceny- theft Motor vehicle theft
State   City           Population
ALABAMA Abbeville      2.645                  39                   3
        Adamsville     4.481                 252                  11
        Addison        744                    17                   2
        Alabaster      31.170                544                  26
        Alexander City 14.692                510                  30

In [141]:
usacrime_df['Aggravated assault'] = usacrime_df['Aggravated assault'].astype(float)
usacrime_df['Violent crime'] = usacrime_df['Violent crime'].astype(float)
usacrime_df['Property crime'] = usacrime_df['Property crime'].astype(float)

In [142]:
aggregator_assault = {'Aggravated assault': ['sum', 'mean', 'count', 'min', 'max', spread]}

In [143]:
usacrime_agraveted_assault = usacrime_df.groupby('State').agg(aggregator_assault)

In [108]:
usacrime_agraveted_assault

                     Aggravated assault
                                    sum       mean count    min      max
State
ALABAMA                        6788.647  34.635954   196  0.000  965.000
ALASKA                          840.491  31.129296    27  0.000  142.000
ARIZONA                        4542.713  72.106556    63  0.000  542.000
ARKANSAS                       4634.679  30.095318   154  0.000  429.000
CALIFORNIA                    40560.567  87.793435   462  0.000  820.000
COLORADO                       4613.480  34.173926   135  0.000  721.000
CONNECTICUT                    4576.000  49.739130    92  0.000  840.000
DELAWARE                       1327.000  40.212121    33  0.000  665.000
DISTRICT OF COLUMBIA              3.724   3.724000     1  3.724    3.724
FLORIDA                       23031.425  79.418707   290  0.000  840.000
GEORGIA                        7471.965  29.533458   253  0.000  537.000
IDAHO                          1720.000  27.741935    62  0.000  429.000
ILLINOIS                      10250.507  20.257919   506  0.000  829.000
INDIANA                        4712.894  43.637907   108  0.000  455.000
IOWA                           4449.000  39.723214   112  0.000  714.000
KANSAS                         3410.338  25.076015   136  0.000  396.000
KENTUCKY                       1338.009   6.591177   203  0.000  327.000
LOUISIANA                      5949.525  52.650664   113  0.000  911.000
MAINE                           682.000   6.035398   113  0.000   75.000
MARYLAND                       1931.460  25.413947    76  0.000  222.000
MASSACHUSETTS                 13362.087  47.892785   279  0.000  964.000
MICHIGAN                      10652.063  31.055577   343  0.000  813.000
MINNESOTA                      2741.013  12.516041   219  0.000  216.000
MISSISSIPPI                    1753.000  44.948718    39  0.000  626.000
MISSOURI                       6050.099  13.595728   445  0.000  363.000
MONTANA                         893.000  20.767442    43  0.000  236.000
NEBRASKA                       1050.505  20.598137    51  0.000  631.000
NEVADA                         1237.751  88.410786    14  0.000  767.000
NEW HAMPSHIRE                  1318.000   9.216783   143  0.000  357.000
NEW JERSEY                    10547.000  22.018789   479  0.000  926.000
NEW MEXICO                     2026.803  56.300083    36  0.000  356.000
NEW YORK                       7676.557  22.059072   348  0.000  696.000
NORTH CAROLINA                10029.999  47.761900   210  0.000  987.000
NORTH DAKOTA                    942.000  21.906977    43  0.000  314.000
OHIO                           6099.572  17.783009   343  0.000  947.000
OKLAHOMA                       4495.695  20.434977   220  0.000  658.000
OREGON                         2535.776  23.698841   107  0.000  346.000
PENNSYLVANIA                   9964.166  11.681320   853  0.000  444.000
RHODE ISLAND                   1525.000  40.131579    38  0.000  641.000
SOUTH CAROLINA                 6525.000  45.000000   145  0.000  555.000
SOUTH DAKOTA                   1096.000  17.967213    61  0.000  428.000
TENNESSEE                      8541.954  34.305036   249  0.000  969.000
TEXAS                         21441.086  35.498487   604  0.000  879.000
UTAH                           2555.000  31.158537    82  0.000  842.000
VERMONT                         241.000   6.885714    35  0.000   52.000
VIRGINIA                       5393.000  36.194631   149  0.000  842.000
WASHINGTON                     5165.073  28.379522   182  0.000  745.000
WEST VIRGINIA                   679.000  10.609375    64  0.000   94.000
WISCONSIN                      3726.405  12.674847   294  0.000  507.000
WYOMING                         633.000  17.583333    36  0.000  108.000