In [20]:
import numpy as np
import pandas as pd

In [21]:
df = pd.read_csv('Offenses_Known_to_Law_Enforcement_by_State_by_City_2013.csv', header=None)
df = df[3:]
df = df.rename(columns=df.iloc[0])
df = df[1:]
df['State']
df.head()

,State,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,nan,nan,nan
4,ALABAMA,Abbeville,2.645,11,1,1,NaN,2,7,63,21,39,3,NaN,NaN,NaN,NaN
5,NaN,Adamsville,4.481,19,1,0,NaN,7,11,321,58,252,11,NaN,NaN,NaN,
6,NaN,Addison,744,1,0,1,NaN,0,0,25,6,17,2,NaN,NaN,NaN,
7,NaN,Alabaster,31.170,44,0,2,NaN,11,31,640,70,544,26,NaN,NaN,NaN,NaN
8,NaN,Alexander City,14.692,119,2,16,NaN,12,89,661,121,510,30,NaN,NaN,NaN,NaN

In [22]:
true_states = []
# Clean the NaN results in the column 'State' 
def fixNanStates(states):
    # For each state
    for state in states:
        # If variable is equal to variable, is used to define NaN, in this case, if it is True, It won't be NaN
        if state == state:
            real_state = state
            true_states.append(str(state))
        # If variable is  not equal to variable, is used to define NaN, in this case, if it is True, It will be NaN
        elif state != state:
            state = real_state
            true_states.append(str(state))

In [23]:
states = df['State']
fixNanStates(states)            
df['State'] = true_states
df.head()

,State,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,nan,nan,nan
4,ALABAMA,Abbeville,2.645,11,1,1,NaN,2,7,63,21,39,3,NaN,NaN,NaN,NaN
5,ALABAMA,Adamsville,4.481,19,1,0,NaN,7,11,321,58,252,11,NaN,NaN,NaN,
6,ALABAMA,Addison,744,1,0,1,NaN,0,0,25,6,17,2,NaN,NaN,NaN,
7,ALABAMA,Alabaster,31.170,44,0,2,NaN,11,31,640,70,544,26,NaN,NaN,NaN,NaN
8,ALABAMA,Alexander City,14.692,119,2,16,NaN,12,89,661,121,510,30,NaN,NaN,NaN,NaN

In [24]:
df.columns = df.columns.str.replace('\n',' ')
df = df.loc[:, 'State': 'Motor vehicle theft']

In [25]:
df.head(2)

,State,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft
4,ALABAMA,Abbeville,2.645,11,1,1,NaN,2,7,63,21,39,3
5,ALABAMA,Adamsville,4.481,19,1,0,NaN,7,11,321,58,252,11

In [26]:
df.describe()

,State,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft
count,9302,9292,9289,9288,9292,5431,3859,9292,9289,9288,9290,9290,9292
unique,60,7142,7420,629,76,127,107,348,496,1818,819,1557,497
top,PENNSYLVANIA,Clinton,1.778,0,0,0,0,0,0,0,0,0,0
freq,853,15,5,1057,7536,2270,1733,3832,1430,192,494,273,1798

In [27]:
alabama_df = df.loc[: , 'City': 'Motor vehicle theft']
alabama_df = alabama_df.set_index('City')
alabama_df.head()

,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft
City,,,,,,,,,,,
Abbeville,2.645,11,1,1,NaN,2,7,63,21,39,3
Adamsville,4.481,19,1,0,NaN,7,11,321,58,252,11
Addison,744,1,0,1,NaN,0,0,25,6,17,2
Alabaster,31.170,44,0,2,NaN,11,31,640,70,544,26
Alexander City,14.692,119,2,16,NaN,12,89,661,121,510,30

In [28]:
# Finding the columns the have NaN values
alabama_df.loc[:, alabama_df.isnull().any()]

,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft
City,,,,,,,,,,,
Abbeville,2.645,11,1,1,NaN,2,7,63,21,39,3
Adamsville,4.481,19,1,0,NaN,7,11,321,58,252,11
Addison,744,1,0,1,NaN,0,0,25,6,17,2
Alabaster,31.170,44,0,2,NaN,11,31,640,70,544,26
Alexander City,14.692,119,2,16,NaN,12,89,661,121,510,30
Aliceville,2.419,7,0,0,NaN,2,5,48,16,26,6
Andalusia,9.079,34,1,4,NaN,6,23,491,95,379,17
Anniston,22.648,461,5,39,NaN,78,339,1.988,770,1.120,98
Arab,8.295,32,0,5,NaN,4,23,640,166,414,60
Ardmore,1.304,2,0,0,NaN,0,2,31,7,23,1
Arley,353,3,0,0,NaN,0,3,27,12,11,4
Ashford,2.177,2,0,0,NaN,0,2,54,8,46,0
Ashland,1.926,9,0,0,NaN,1,8,63,24,35,4
Ashville,2.239,10,0,1,NaN,0,9,88,35,48,5
Athens,23.972,16,0,1,NaN,11,4,755,116,627,12
Atmore,10.099,52,2,4,NaN,9,37,201,41,150,10
Auburn,57.970,115,2,6,NaN,35,72,1.930,346,1.514,70
Bay Minette,8.398,47,0,3,NaN,5,39,272,33,221,18
Bear Creek,1.059,4,0,0,NaN,0,4,12,2,8,2
Bessemer,27.240,527,3,15,NaN,161,348,3.199,725,2.265,209
Birmingham,212.001,2.852,63,178,NaN,969,1.642,14.157,4.018,8.661,1.478
Blountsville,1.697,6,0,3,NaN,0,3,71,14,49,8
Brent,4.894,16,0,1,NaN,3,12,90,12,72,6
Brewton,5.331,47,0,7,NaN,2,38,258,43,202,13
Bridgeport,2.389,13,0,1,NaN,0,12,6,0,6,0
Brilliant,892,4,0,0,NaN,2,2,23,8,13,2
Butler,1.850,6,0,0,NaN,1,5,40,15,22,3
Camp Hill,995,22,1,2,NaN,1,18,29,13,14,2
Carbon Hill,1.988,14,0,1,NaN,5,8,121,30,78,13
Cedar Bluff,1.814,20,0,1,NaN,1,18,191,63,122,6
...,...,...,...,...,...,...,...,...,...,...,...
Jackson,9.918,62,0,NaN,9,17,36,231,20,199,12
Kemmerer,2.631,3,0,NaN,0,0,3,67,14,52,1
Lander,7.733,5,0,NaN,0,0,5,285,16,261,8
Laramie,31.940,37,1,NaN,10,3,23,670,70,562,38
Lusk,1.548,3,0,NaN,0,1,2,4,2,2,0
Mills,3.486,28,0,NaN,0,2,26,110,44,60,6
Moorcroft,1.026,1,0,NaN,0,0,1,32,1,30,1
Newcastle,3.465,8,0,NaN,3,0,5,84,16,66,2
Pine Bluffs,1.152,4,0,NaN,0,0,4,21,11,10,0
Powell,6.304,22,0,NaN,11,1,10,157,31,124,2
Rawlins,9.081,30,0,NaN,2,1,27,235,39,185,11
Riverton,11.057,45,0,NaN,4,5,36,563,41,498,24
Rock Springs,24.405,71,0,NaN,10,4,57,678,99,551,28
Saratoga,1.656,4,0,NaN,0,0,4,13,2,11,0
Sheridan,17.776,23,0,NaN,3,3,17,400,78,300,22
Sundance,1.221,0,0,NaN,0,0,0,11,2,7,2
Thermopolis,3.023,2,0,NaN,0,0,2,71,14,54,3
Torrington,6.797,18,0,NaN,1,0,17,121,33,85,3
Wheatland,3.644,11,0,NaN,0,0,11,114,21,85,8
Worland,5.441,7,0,NaN,0,0,7,47,2,45,0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
# All of them have some NaN values so time to clean it

# First of, if a 'Rape (revised definition)1' happens then a 'Rape (legacy definition)2' doesn't happen and vice-versa therefore,
# we are getting NaN values when it doesn't happen, so let's just change it to 0 instead of NaN
alabama_df[['Rape (revised definition)1', 'Rape (legacy definition)2']] = (alabama_df[['Rape (revised definition)1', 
                                                                                       'Rape (legacy definition)2']].fillna(0))

# Now we delete every row with 4 or more NaN values
alabama_df = alabama_df.dropna(thresh=4, axis='rows')

In [39]:
# Way cleaner now as we can see below, still some NaN values still linger
alabama_df[alabama_df.isnull().any(axis=1)]

,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft
City,,,,,,,,,,,
Tallassee5,4.830,NaN,0,0,0,1,66,296,86,203,7
Dunnellon7,1.750,9,0,0,0,0,9,NaN,13,NaN,1
"Chicago7, 8",2.720.554,NaN,414,0,0,11.815,NaN,95.908,17.775,65.497,12.636
Sellersburg5,6.150,NaN,0,0,0,3,NaN,109,17,77,15
Shelbyville5,19.159,NaN,0,0,4,3,NaN,448,55,365,28
Baltimore City Sheriff,NaN,0,0,0,0,0,0,0,0,0,0
Toledo10,283.035,2.902,28,129,0,962,1.783,NaN,5.357,NaN,1.064
Black Butte,NaN,0,0,0,0,0,0,5,0,5,0
Sunriver,NaN,2,0,0,0,0,2,80,16,60,4
Bountiful5,42.976,61,0,23,0,14,24,NaN,NaN,706,94
Hurricane5,14.558,14,0,3,0,2,9,NaN,NaN,163,8

In [45]:
# As we see, columns with NaN Population values are not helpfull in the slightest since most of all the columns seem to be 0,
# when this case happens, let's remove the Population rows where Population is NaN and feel the rest with of the NaN values with
# 0 values, so that they don't affect much our dataset
alabama_df = alabama_df[pd.notnull(alabama_df['Population'])]
alabama_df = alabama_df.fillna(0)

In [50]:
# And voilla!! A much cleaner dataset, although alot of work is still ahead of us! So buckle up!!
alabama_df[alabama_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [Population, Violent crime, Murder and nonnegligent manslaughter, Rape (revised definition)1, Rape (legacy definition)2, Robbery, Aggravated assault, Property crime, Burglary, Larceny- theft, Motor vehicle theft]
Index: []

In [51]:
print(alabama_df.info())

#alabama_df.apply(pd.to_numeric, errors='coerce')
#pd.to_numeric(alabama_df, errors='coerce')

<class 'pandas.core.frame.DataFrame'>
Index: 9289 entries, Abbeville to Worland
Data columns (total 11 columns):
Population                              9289 non-null object
Violent crime                           9289 non-null object
Murder and nonnegligent manslaughter    9289 non-null object
Rape (revised definition)1              9289 non-null object
Rape (legacy definition)2               9289 non-null object
Robbery                                 9289 non-null object
Aggravated assault                      9289 non-null object
Property crime                          9289 non-null object
Burglary                                9289 non-null object
Larceny- theft                          9289 non-null object
Motor vehicle theft                     9289 non-null object
dtypes: object(11)
memory usage: 870.8+ KB
None

In [52]:
alabama_df.head(1)

,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft
City,,,,,,,,,,,
Abbeville,2.645,11,1,1,0,2,7,63,21,39,3

In [53]:
#
(alabama_df[['Violent crime', 'Murder and nonnegligent manslaughter',
            'Rape (revised definition)1', 'Rape (legacy definition)2',
            'Robbery', 'Aggravated assault', 'Property crime',
            'Burglary', 'Larceny- theft', 'Motor vehicle theft']].apply(pd.to_numeric))

(alabama_df[['Violent crime', 'Murder and nonnegligent manslaughter',
            'Rape (revised definition)1', 'Rape (legacy definition)2',
            'Robbery', 'Aggravated assault', 'Property crime',
            'Burglary', 'Larceny- theft', 'Motor vehicle theft']].astype('float64'))

,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft
City,,,,,,,,,,
Abbeville,11.000,1.0,1.0,0.0,2.0,7.000,63.000,21.000,39.000,3.000
Adamsville,19.000,1.0,0.0,0.0,7.0,11.000,321.000,58.000,252.000,11.000
Addison,1.000,0.0,1.0,0.0,0.0,0.000,25.000,6.000,17.000,2.000
Alabaster,44.000,0.0,2.0,0.0,11.0,31.000,640.000,70.000,544.000,26.000
Alexander City,119.000,2.0,16.0,0.0,12.0,89.000,661.000,121.000,510.000,30.000
Aliceville,7.000,0.0,0.0,0.0,2.0,5.000,48.000,16.000,26.000,6.000
Andalusia,34.000,1.0,4.0,0.0,6.0,23.000,491.000,95.000,379.000,17.000
Anniston,461.000,5.0,39.0,0.0,78.0,339.000,1.988,770.000,1.120,98.000
Arab,32.000,0.0,5.0,0.0,4.0,23.000,640.000,166.000,414.000,60.000
Ardmore,2.000,0.0,0.0,0.0,0.0,2.000,31.000,7.000,23.000,1.000
Arley,3.000,0.0,0.0,0.0,0.0,3.000,27.000,12.000,11.000,4.000
Ashford,2.000,0.0,0.0,0.0,0.0,2.000,54.000,8.000,46.000,0.000
Ashland,9.000,0.0,0.0,0.0,1.0,8.000,63.000,24.000,35.000,4.000
Ashville,10.000,0.0,1.0,0.0,0.0,9.000,88.000,35.000,48.000,5.000
Athens,16.000,0.0,1.0,0.0,11.0,4.000,755.000,116.000,627.000,12.000
Atmore,52.000,2.0,4.0,0.0,9.0,37.000,201.000,41.000,150.000,10.000
Auburn,115.000,2.0,6.0,0.0,35.0,72.000,1.930,346.000,1.514,70.000
Bay Minette,47.000,0.0,3.0,0.0,5.0,39.000,272.000,33.000,221.000,18.000
Bear Creek,4.000,0.0,0.0,0.0,0.0,4.000,12.000,2.000,8.000,2.000
Bessemer,527.000,3.0,15.0,0.0,161.0,348.000,3.199,725.000,2.265,209.000
Birmingham,2.852,63.0,178.0,0.0,969.0,1.642,14.157,4.018,8.661,1.478
Blountsville,6.000,0.0,3.0,0.0,0.0,3.000,71.000,14.000,49.000,8.000
Brent,16.000,0.0,1.0,0.0,3.0,12.000,90.000,12.000,72.000,6.000
Brewton,47.000,0.0,7.0,0.0,2.0,38.000,258.000,43.000,202.000,13.000
Bridgeport,13.000,0.0,1.0,0.0,0.0,12.000,6.000,0.000,6.000,0.000
Brilliant,4.000,0.0,0.0,0.0,2.0,2.000,23.000,8.000,13.000,2.000
Butler,6.000,0.0,0.0,0.0,1.0,5.000,40.000,15.000,22.000,3.000
Camp Hill,22.000,1.0,2.0,0.0,1.0,18.000,29.000,13.000,14.000,2.000
Carbon Hill,14.000,0.0,1.0,0.0,5.0,8.000,121.000,30.000,78.000,13.000
Cedar Bluff,20.000,0.0,1.0,0.0,1.0,18.000,191.000,63.000,122.000,6.000
...,...,...,...,...,...,...,...,...,...,...
Douglas,16.000,0.0,0.0,1.0,0.0,15.000,201.000,21.000,176.000,4.000
Evanston,7.000,0.0,0.0,2.0,3.0,2.000,396.000,26.000,362.000,8.000
Evansville,19.000,0.0,0.0,0.0,0.0,19.000,30.000,7.000,21.000,2.000
Gillette,53.000,2.0,0.0,6.0,0.0,45.000,1.008,153.000,821.000,34.000
Glenrock,1.000,0.0,0.0,0.0,0.0,1.000,36.000,6.000,30.000,0.000
Green River,56.000,0.0,0.0,7.0,1.0,48.000,156.000,28.000,120.000,8.000
Greybull,7.000,0.0,0.0,0.0,0.0,7.000,6.000,1.000,5.000,0.000
Guernsey,2.000,0.0,0.0,0.0,0.0,2.000,2.000,2.000,0.000,0.000
Hanna,1.000,0.0,0.0,0.0,0.0,1.000,7.000,1.000,3.000,3.000
Hulett,2.000,0.0,0.0,0.0,0.0,2.000,4.000,2.000,2.000,0.000
Jackson,62.000,0.0,0.0,9.0,17.0,36.000,231.000,20.000,199.000,12.000
Kemmerer,3.000,0.0,0.0,0.0,0.0,3.000,67.000,14.000,52.000,1.000
Lander,5.000,0.0,0.0,0.0,0.0,5.000,285.000,16.000,261.000,8.000
Laramie,37.000,1.0,0.0,10.0,3.0,23.000,670.000,70.000,562.000,38.000
Lusk,3.000,0.0,0.0,0.0,1.0,2.000,4.000,2.000,2.000,0.000
Mills,28.000,0.0,0.0,0.0,2.0,26.000,110.000,44.000,60.000,6.000
Moorcroft,1.000,0.0,0.0,0.0,0.0,1.000,32.000,1.000,30.000,1.000
Newcastle,8.000,0.0,0.0,3.0,0.0,5.000,84.000,16.000,66.000,2.000
Pine Bluffs,4.000,0.0,0.0,0.0,0.0,4.000,21.000,11.000,10.000,0.000
Powell,22.000,0.0,0.0,11.0,1.0,10.000,157.000,31.000,124.000,2.000
Rawlins,30.000,0.0,0.0,2.0,1.0,27.000,235.000,39.000,185.000,11.000
Riverton,45.000,0.0,0.0,4.0,5.0,36.000,563.000,41.000,498.000,24.000
Rock Springs,71.000,0.0,0.0,10.0,4.0,57.000,678.000,99.000,551.000,28.000
Saratoga,4.000,0.0,0.0,0.0,0.0,4.000,13.000,2.000,11.000,0.000
Sheridan,23.000,0.0,0.0,3.0,3.0,17.000,400.000,78.000,300.000,22.000
Sundance,0.000,0.0,0.0,0.0,0.0,0.000,11.000,2.000,7.000,2.000
Thermopolis,2.000,0.0,0.0,0.0,0.0,2.000,71.000,14.000,54.000,3.000
Torrington,18.000,0.0,0.0,1.0,0.0,17.000,121.000,33.000,85.000,3.000
Wheatland,11.000,0.0,0.0,0.0,0.0,11.000,114.000,21.000,85.000,8.000
Worland,7.000,0.0,0.0,0.0,0.0,7.000,47.000,2.000,45.000,0.000

In [54]:
print(alabama_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 9289 entries, Abbeville to Worland
Data columns (total 11 columns):
Population                              9289 non-null object
Violent crime                           9289 non-null object
Murder and nonnegligent manslaughter    9289 non-null object
Rape (revised definition)1              9289 non-null object
Rape (legacy definition)2               9289 non-null object
Robbery                                 9289 non-null object
Aggravated assault                      9289 non-null object
Property crime                          9289 non-null object
Burglary                                9289 non-null object
Larceny- theft                          9289 non-null object
Motor vehicle theft                     9289 non-null object
dtypes: object(11)
memory usage: 870.8+ KB
None